p {
  font-family: serif;
}

h1 {
  color: rgba(4, 70, 4, 0.728);
  background-color: rgb(149, 228, 211);
}

div {
  background-color: aqua;
  color: rgb(173, 146, 198);
}

div {
  background-color: blueviolet;
  color: rgb(61, 61, 75);
}

#sports {
  background-color: rgb(185, 42, 42);


}

#rami {
  background-color: blue;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(231, 9, 9)
}



li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #10ba32;
}

li {
  float: left;
}